[user]
	name = iton0
	email = iton442@gmail.com
[core]
	editor = nvim
	autocrlf = input
	whitespace = space-before-tab
[init]
	defaultBranch = main
[credential]
	helper = cache
[column]
	ui = auto
[branch]
	sort = committerdate
[maintenance]
	repo = /home/iton
[alias]
	bare-clone = "!f() { ~/.local/scripts/git-bare-clone \"$@\"; }; f"
	wta = worktree add
	wtd = worktree remove
	wtl = worktree list
	mtn = maintenance; makes everything faster in git repo
	cat = cat-file -p; inspect files within the git's data store
	cud = add .; add all files in current working directory
	syc = !git add -u && git commit -v; add all tracked files & commit with diff in core editor
	p = push origin HEAD
	pf = push --force-with-lease; a safe force push
	pl = pull origin HEAD
	st = status -sb ; provides more concise output
	cm = commit -v ; commit with diff in core editor
	ch = checkout
	chb = checkout -b; create and checkout branch
	brd = branch -D
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	rl = remote -v
	df = diff --word-diff
	se = !git rev-list --all | xargs git grep -F
	gl = config --global -l ; outputs the .gitconfig file
	alias = !git config --get-regexp ^alias\\. ; outputs the aliases
	last = !git log -1 HEAD --stat --patch --pretty=format:'%h - %C(cyan)%an%Creset, %C(magenta)%ar%Creset : %C(red)%s%Creset%n%n%b%n%C(green)Changed Files Summary%C(reset)'
	lg = !git log --pretty=format:'%C(129)%h%Creset -%C(166)%d%Creset %s %C(42)(%cr) %C(117)[%an]' --abbrev-commit -30
