*
!.gitignore
!.gitconfig
!.zshrc
!.hkup/
!.hkup/**
!.local/
!.local/scripts
!.local/scripts/**
!.config/
!.config/nvim/
!.config/nvim/**
!.config/tmux/
!.config/tmux/**
!.config/hkup/
!.config/hkup/**
!.config/sway/
!.config/sway/**
!.config/waybar/
!.config/waybar/**
