# For Dotfiles
# WARN: DO NOT DELETE

# Ignore everything
*

# Files
!.gitignore
!.gitconfig
!.zshrc
!.config/keybindings.dconf
!.config/gh/config.yml

# Allow specific directories
!.hkup/
!.local/
!.local/scripts
!.config/
!.config/nvim/
!.config/wezterm/
!.config/hkup/
!.config/sway/
!.config/wofi/
!.config/waybar/

# Allow all files within those directories
!.hkup/**
!.local/scripts/**
!.config/nvim/**
!.config/wezterm/**
!.config/hkup/**
!.config/sway/**
!.config/wofi/**
!.config/waybar/**
