# For Dotfiles
# WARN: DO NOT DELETE

# Ignore everything
*

# Files
!.gitignore
!.gitconfig
!.zshrc
!.startup.sh

# Allow specific directories
!.hkup/
!.local/
!.local/scripts
!.config/
!.config/keybindings.dconf
!.config/nvim/
!.config/wezterm/
!.config/gh/
!.config/hkup/

# Allow all files within those directories
!.hkup/**
!.local/scripts/**
!.config/nvim/**
!.config/wezterm/**
!.config/gh/**
!.config/hkup/**
